*{
    margin: 0;
    padding: 0;
    font-family:  "libre franklin", "helvetica neue", Arial, sans-serif ;
}

/*header*/
header{
    height: 100px;
    background: #6b7a8f;
    padding: 0 50px;
    color: #dcc7aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*h2 class*/
.logo{
    text-transform: uppercase;
    color: #ddc7aa;
    font-weight: 200;
}

/*nav class*/
.menu a{
    color: #dcc7aa;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

/*label´s*/
.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover, .mostrar-menu:hover, .esconder-menu:hover, .dropbtn:hover{
    color:#f7c331;
}

#check{
    display: none;
}

/* Dropdown Button */
.dropbtn {
	background-color: #6b7a8f;
	font-size: 17px;
	border: none;
	color: #dcc7aa;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
	
  }
  
  /* O contêiner <div> - necessário para posicionar o conteúdo suspenso */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Conteúdo suspenso (oculto por padrão) */
  .dropdown-content {
	display: none;
	position: absolute;
	/*background-color: #fff;*/
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /*Links dentro da lista suspensa */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

 /*Alterar a cor dos links suspensos ao passar o mouse*/
	.dropdown-content a:hover {background-color: #6b7a8f;}
  
  /* Mostrar o menu suspenso ao passar o mouse */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Alterar a cor de fundo do botão suspenso quando o conteúdo suspenso for exibido */
  .dropdown:hover .dropbtn {background-color: #6b7a8f;}
  
/*banner*/
#banner{
    padding: 0 50px;
    background-image: url(imagem/petnagrama.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
    }

.conteudo-banner{
	position: relative; /*coloca o texto a frente da figura*/
	color: #f7882f;
	height: 100%;
	display: flex;
	flex-direction: column; /*substitui o float*/
	justify-content: center;
}
.conteudo-banner h3{
	font-size: 30px;
	font-weight: 400;
	padding: 10px 0px; /*cima e baixo*/
}
.conteudo-banner h3 span{
	font-weight: 600;
}

/*banner-home*/

#banner-home{
    padding: 0 50px;
    background-image: url(imagem/petsdogecat.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    }

.conteudo-banner-home{
	position: relative; /*coloca o texto a frente da figura*/
	color: #f7882f;
	height: 100%;
	display: flex;
	flex-direction: column; /*substitui o float*/
	justify-content: center;
}
.conteudo-banner-home h3{
	font-size: 30px;
	font-weight: 400;
	padding: 10px 0px; /*cima e baixo*/
}
.conteudo-banner-home h3 span{
	font-weight: 600;
}



/*botões ancorados*/
.botao-iniciar{
	text-decoration: none;
	color: #6b7a8f;
    border:1px solid #f7882f;
    border-radius: 10px;
	padding: 15px 30px;
	align-self: baseline;
	transition: all 0.4s;
}
.botao-iniciar:hover{
	background: #f7882f
}

.botao-saiba-mais{
	display: inline-block;
	text-decoration: none; /*none=tira o sublinhado*/
	color: #6b7a8f;
	padding: 10px 30px;
	border: 1px solid #f7882f;
	border-radius: 30px;
	margin-top: 15px;
	transition: all 0.4s;
}
.botao-saiba-mais:hover{
	background: #f7c331;
	color: #6b7a8f;
}

/*pessoas*/
#pessoas{
	padding: 50px 50px;
	display: flex;
	justify-content: center;
	text-align: center;
}
#pessoas img{
	border-radius: 100%;
}
#pessoas div{
	padding: 30px 30px;
}
#pessoas div h4{
	color: #f7882f;
	font-size: 20px;
	margin: 15px 0px;
}
#pessoas div p{
	color: #6b7a8f;
	font-size: 18px;
}

/*icones*/
#icons{
	padding: 0px 50px;
	background: #dcc7aa;
	}

.conteudos-icons{
	padding: 50px 50px 0px 50px;
	display: flex; /*deixa um bloco ao lado do outro - nos icones*/
	justify-content: space-between; /*dá espaçamento*/
	text-align: center;
}
.conteudos-icons div{
	flex:1;
	margin: 20px 0px;
	border-right: 2px solid #f7882f
}

#icons-mobile{
	border:none;
}
.conteudos-icons div i{
	color: #6b7a8f;
	
}
.conteudos-icons div h6{
	color:#6b7a8f;
	font-size: 20px;
	font-weight: 100;
	margin: 10px 0px;
}
.conteudos-icons div p{
	color: #f7882f;
	font-size: 15px;
}
.botao-icons{
	text-align: center;
	padding-bottom: 50px;
}

/*formulario*/
#contato{
	background: #6b7a8f;
	padding: 50px 0px;
	color: #f7c331;
}
#contato h4{
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}
#contato form{
	max-width: 80%;
	margin: 0 auto;
}
.dados-formulario{
	display: flex;
}
.dados-formulario div{
	padding: 10px;
	flex: 1;
}
form label{
	display: block;
	margin-bottom: 10px;
}
form input, form textarea{
	background: #fff;
	border-radius: 10px;
	border: 2px solid #dcc7aa;
	padding: 10px 5px;
	outline: 0;
	color: #6b7a8f;
	width: 100%;
}
form input:focus, form textarea:focus{
	border-color: #f7c331;
	box-shadow: 0 0 0 2px #f7882f;/*shadow faz sobra*/
}
form input::placeholder, form textarea::placebholder{
	color: #fff;
}

.botao-formulario .botao-saiba-mais{
	display: block;
	border: 1px solid #f7c331;
	color: #f7882f;
	text-align: center;
	transition: 0.4s;
}
.botao-formulario .botao-saiba-mais:hover{
	background: #f7c331;
}

footer {
	background: #6b7a8f;
	color: #fff;
	text-align: center;
	padding: 10px 0px;
}



/*Responsive 768 - tablet*/
/*header*/
@media(max-width: 768px){ 
	.mostrar-menu, .esconder-menu{
		display: block;
	}
	.menu{
		position: fixed;
		width: 100%;
		height: 100%;
		background: #f7c331;
		/*left: 0;*/ /* "X" do menu*/
		right: -100%;
		top: 0;
		text-align: center;
		padding: 100px 0px;
		z-index: 100; /*determina a posição das coisas na pilha*/
		transition: 0.8s;
	}
	.menu a{
		display: block; /*qdo reduzir, vai ficar um bloco abaixo do outro*/
		padding: 20px;
	}
	.esconder-menu{
		position: absolute;
		top: 40px;
		right: 40px;
	}
	/*"~" precedidos por*/
	#check:checked~.menu{
		right: 0;
	}
	#pessoas{
		flex-direction: column;
	}
	.conteudos-icons{
		flex-direction: column;
	}
	.conteudos-icons div{
		border:none; /* qdo chegar ao tamanho de tablet ou celular as bordas desaparecerão*/
	}
	.dados-formulario{
		flex-direction: column;
	}
	} /* Fim do seletor @media*/









